<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.css" rel="stylesheet"/>
</head>
<body>



<div ng-app="myApp" ng-controller="myController">


 <input type="text" placeholder="Search By Name" ng-model="search.empName"/>
    <input type="text" placeholder="Search By Emp Id" ng-model="search.empId"/>
    <input type="text" placeholder="Search All" ng-model="search.$"/>
    <table>

        <tr ng-repeat="employee in employeesList | filter: search | orderBy:'-empName'">
            <td>{{$index + 1}}</td>
            <td>{{employee.empId}}</td>
            <td>{{employee.empName}}</td>
        </tr>
    </table>
</div>
<script src="../lib/angular.js"></script>
<script>
    var app = angular.module('myApp',[]);
    app.controller('myController', function($scope, $http){
        $http({
//            url: 'http://localhost:63342/GenpactAngularJSDemo/day2/employees.json',
            url: 'AnyURL',
            method: 'POST',
            data: {"name": "Puneet"}
        }).success(function(data, status, headers, config){
            console.log('Data Fetched Successfully');
            console.log(status)

            $scope.employeesList = data

        }).error(function(data){
            console.log('Error fetching data')
        })
    })


</script>




</body>
</html>